<!DOCTYPE html>
html
    head
        meta(charset="utf-8")
        title=`${page.title ? `${page.title} | ` : ''}${config.title}`
        meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=4")
        link(href="//fonts.googleapis.com/css?family=Source+Code+Pro" rel="stylesheet" type="text/css")
        !=css('css/index')
    body
        header
            a(href=url_for('/')).title Zgodbe iz Tessalonie
            nav
                div.h3
                    a(href=url_for('tessalonia')) Zemljevid
                div.h3
                    a(href=url_for('gods')) Bogovi
                div.h3
                    a(href=url_for('prices')) Trgovine in cene
                div.h3
                    a(href=url_for('content')) Index

        div.phb
            block body
            !=js('js/main.min.js')

